@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import "./varriable.scss";
@import "./animations.scss";
@import "./mixins.scss";
// Header
.header-background-image {
    background-image: url(../images/audi-sub-pictures/audi-background.jpg);
    background-size: 100%;
    background-position: bottom;
    height: 100vh;
}

nav {
    width: 90%;
    background-color: #433b4236;
    color: white;
    position: absolute;
    top: 0;
    left: 75px;
    opacity: 0.9;
    transform: skew(-35deg);
    margin-top: 3px;
}

.contacts {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    .contacts-phone {
        display: flex;
        transform: skew(35deg);
        align-items: center;
        i {
            font-size: $fontAwesomeIconsFontsize;
            padding-right: 35px;
            color: $blueColorForItems;
        }
        .contacts-phone-content p:first-of-type {
            font-size: 18px;
        }
        .contacts-phone-content p:last-of-type {
            font-size: 22px;
        }
    }
    .contacts-working-graphic {
        display: flex;
        align-items: center;
        transform: skew(35deg);
        i {
            font-size: $fontAwesomeIconsFontsize;
            padding-right: 35px;
            color: $blueColorForItems;
        }
        p:first-of-type {
            font-size: 18px;
        }
        p:last-of-type {
            font-size: 22px;
        }
    }
}
.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    transform: skew(35deg);
    h1 {
        cursor: pointer;
        transition: color 0.3s ease-out;
        &:hover {
            color: $blueColorForItems;
        }
    }
    /*Primary menu*/

    .primary-menu-ul {
        display: flex;
        .primary-menu-li {
            @include primary-menu-list-items();
            animation: primary-menu-animation 0.9s ease-out;
        }
    }
    /* Sub menu*/
    /*Mercedes sub menu*/
    .mercedes-sub-menu {
        display: none;
    }
    .primary-mercedes-li:hover .mercedes-sub-menu {
        display: block;
        position: absolute;
        background-color: inherit;
        border-radius: 5px;
        padding: 30px 0;
        @include sub-menu-ul-animation();

        ul {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $blueColorForItems;
            background-color: black;
            border-radius: 5px;
            li {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid $blueColorForItems;
                &:last-of-type {
                    border-bottom: none;
                }
                @include sub-menu-ul-animation();
            }
        }
        .mercedes-sub-menu-items:hover {
            @include sub-menu-list-items-animation();
        }
    }
    /*Audi sub-menu*/

    .audi-sub-menu {
        display: none;
    }
    .primary-audi-li:hover .audi-sub-menu {
        display: block;
        position: absolute;
        background-color: inherit;
        border-radius: 5px;
        padding: 30px 0;
        @include sub-menu-ul-animation();

        ul {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $blueColorForItems;
            background-color: black;
            border-radius: 5px;
            li {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid $blueColorForItems;
                &:last-of-type {
                    border-bottom: none;
                }
                @include sub-menu-ul-animation();
            }
        }
        .audi-sub-menu-items:hover {
            @include sub-menu-list-items-animation();
        }
    }
    /*BMW sub menu*/
    .bmw-sub-menu {
        display: none;
    }
    .primary-bmw-li:hover .bmw-sub-menu {
        display: block;
        position: absolute;
        background-color: inherit;
        border-radius: 5px;
        padding: 30px 0;
        @include sub-menu-ul-animation();

        ul {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $blueColorForItems;
            background-color: black;
            border-radius: 5px;
            li {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid $blueColorForItems;
                &:last-of-type {
                    border-bottom: none;
                }
                @include sub-menu-ul-animation();
            }
        }
        .bmw-sub-menu-items:hover {
            @include sub-menu-list-items-animation();
        }
    }
    /*Porsche sub-menu*/
    .porsche-sub-menu {
        display: none;
    }
    .primary-porsche-li:hover .porsche-sub-menu {
        display: block;
        position: absolute;
        background-color: inherit;
        border-radius: 5px;
        padding: 30px 0;
        @include sub-menu-ul-animation();

        ul {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $blueColorForItems;
            background-color: black;
            border-radius: 5px;
            li {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid $blueColorForItems;
                &:last-of-type {
                    border-bottom: none;
                }
                @include sub-menu-ul-animation();
            }
        }
        .porsche-sub-menu-items:hover {
            @include sub-menu-list-items-animation();
        }
    }
    /*VW sub menu*/
    .vw-sub-menu {
        display: none;
    }
    .primary-vw-li:hover .vw-sub-menu {
        display: block;
        position: absolute;
        background-color: inherit;
        border-radius: 5px;
        padding: 30px 0;
        @include sub-menu-ul-animation();

        ul {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $blueColorForItems;
            background-color: black;
            border-radius: 5px;
            li {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid $blueColorForItems;
                &:last-of-type {
                    border-bottom: none;
                }
                @include sub-menu-ul-animation();
            }
        }
        .vw-sub-menu-items:hover {
            @include sub-menu-list-items-animation();
        }
    }
    /*Rover sub-menu*/
    .rover-sub-menu {
        display: none;
    }
    .primary-rover-li:hover .rover-sub-menu {
        display: block;
        position: absolute;
        background-color: inherit;
        border-radius: 5px;
        padding: 30px 0;
        @include sub-menu-ul-animation();

        ul {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $blueColorForItems;
            background-color: black;
            border-radius: 5px;
            li {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid $blueColorForItems;
                &:last-of-type {
                    border-bottom: none;
                }
                @include sub-menu-ul-animation();
            }
        }
        .rover-sub-menu-items:hover {
            @include sub-menu-list-items-animation();
        }
    }

    /*Tesla sub-menu*/
    .tesla-sub-menu {
        display: none;
    }
    .primary-tesla-li:hover .tesla-sub-menu {
        display: block;
        position: absolute;
        background-color: inherit;
        border-radius: 5px;
        padding: 30px 0;
        @include sub-menu-ul-animation();

        ul {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $blueColorForItems;
            background-color: black;
            border-radius: 5px;
            li {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid $blueColorForItems;
                &:last-of-type {
                    border-bottom: none;
                }
                @include sub-menu-ul-animation();
            }
        }
        .tesla-sub-menu-items:hover {
            @include sub-menu-list-items-animation();
        }
    }
}
// Main
.audi-gallery {
    display: grid;
    grid-template-columns: 600px 600px;
    justify-content: center;
    background-color: black;

    .audi-gallery__a8 {
        background-image: url(../images/audi-sub-pictures/audi-a8.jpg);
        height: 300px;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin: 40px;
        cursor: pointer;
        p {
            font-size: 20px;
            padding: 15px;
        }
    }
    .audi-gallery__s8 {
        background-image: url(../images/audi-sub-pictures/audi-s8.jpg);
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 40px;
        cursor: pointer;
        p {
            font-size: 20px;
            padding: 15px;
        }
    }
    .audi-gallery__a7 {
        background-image: url(../images/audi-sub-pictures/audi-a7.jpg);
        height: 300px;
        background-size: cover;
        margin: 40px;
        cursor: pointer;
        transition: all 0.5s ease-out;
        p {
            font-size: 20px;
            padding: 15px;
        }
    }
    .audi-gallery__a6-allroad {
        background-image: url(../images/audi-sub-pictures/audi-a6.jpg);
        height: 300px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin: 40px;
        cursor: pointer;
        transition: transform 1s ease-out;
        p {
            font-size: 20px;
            padding: 15px;
            color: gray;
        }
    }
    .audi-gallery__q {
        background-image: url(../images/audi-sub-pictures/audi-q7.jpg);
        height: 300px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin: 40px;
        cursor: pointer;
        transition: transform 1s ease-out;
        p {
            font-size: 20px;
            padding: 15px;
            color: #474141;
        }
    }
    p {
        color: gray;
        font-weight: bold;
        cursor: pointer;
    }
    article {
        border-radius: 10px;
    }
}
// Footer
footer {
    padding: 30px;
    background-color: $sectionsColor;
    color: white;
    border-top: 1px solid gray;
    text-align: center;
    span {
        color: $blueColorForItems;
    }
}