@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import "./varriable.scss";
@import "./animations.scss";
@import "./mixins.scss";
// Header
.header-background-image {
    background-image: url(../images/ferari-pic.jfif);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
    cursor: pointer;
    h1 {
        color: white;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        padding-top: 180px;
    }
}

nav {
    width: 90%;
    background-color: #433b4236;
    color: white;
    position: absolute;
    top: 0;
    left: 75px;
    opacity: 0.9;
    transform: skew(-35deg);
    margin-top: 3px;
}

.contacts {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    .contacts-phone {
        display: flex;
        transform: skew(35deg);
        align-items: center;
        i {
            font-size: $fontAwesomeIconsFontsize;
            padding-right: 35px;
            color: $blueColorForItems;
            animation: phone-contact-animation 1.2s ease-out 0.1s;
        }
        .contacts-phone-content p:first-of-type {
            font-size: 18px;
        }
        .contacts-phone-content p:last-of-type {
            font-size: 22px;
        }
    }
    .contacts-working-graphic {
        display: flex;
        align-items: center;
        transform: skew(35deg);
        i {
            font-size: $fontAwesomeIconsFontsize;
            padding-right: 35px;
            color: $blueColorForItems;
            animation: graphic-work-animation 1.2s ease-out 0.1s;
        }
        p:first-of-type {
            font-size: 18px;
        }
        p:last-of-type {
            font-size: 22px;
        }
    }
}
.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    transform: skew(35deg);
    h1 {
        cursor: pointer;
        transition: color 0.3s ease-out;
        &:hover {
            color: $blueColorForItems;
        }
    }
    /*Primary menu*/

    .primary-menu-ul {
        display: flex;
        .primary-menu-li {
            @include primary-menu-list-items();
            animation: primary-menu-animation 0.9s ease-out;
        }
    }
    /* Sub menu*/
    /*Mercedes sub menu*/
    .mercedes-sub-menu {
        display: none;
    }
    .primary-mercedes-li:hover .mercedes-sub-menu {
        display: block;
        position: absolute;
        background-color: inherit;
        border-radius: 5px;
        padding: 30px 0;
        @include sub-menu-ul-animation();

        ul {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $blueColorForItems;
            background-color: black;
            border-radius: 5px;
            li {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid $blueColorForItems;
                &:last-of-type {
                    border-bottom: none;
                }
                @include sub-menu-ul-animation();
            }
        }
        .mercedes-sub-menu-items:hover {
            @include sub-menu-list-items-animation();
        }
    }
    /*Audi sub-menu*/

    .audi-sub-menu {
        display: none;
    }
    .primary-audi-li:hover .audi-sub-menu {
        display: block;
        position: absolute;
        background-color: inherit;
        border-radius: 5px;
        padding: 30px 0;
        @include sub-menu-ul-animation();

        ul {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $blueColorForItems;
            background-color: black;
            border-radius: 5px;
            li {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid $blueColorForItems;
                &:last-of-type {
                    border-bottom: none;
                }
                @include sub-menu-ul-animation();
            }
        }
        .audi-sub-menu-items:hover {
            @include sub-menu-list-items-animation();
        }
    }
    /*BMW sub menu*/
    .bmw-sub-menu {
        display: none;
    }
    .primary-bmw-li:hover .bmw-sub-menu {
        display: block;
        position: absolute;
        background-color: inherit;
        border-radius: 5px;
        padding: 30px 0;
        @include sub-menu-ul-animation();

        ul {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $blueColorForItems;
            background-color: black;
            border-radius: 5px;
            li {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid $blueColorForItems;
                &:last-of-type {
                    border-bottom: none;
                }
                @include sub-menu-ul-animation();
            }
        }
        .bmw-sub-menu-items:hover {
            @include sub-menu-list-items-animation();
        }
    }
    /*Porsche sub-menu*/
    .porsche-sub-menu {
        display: none;
    }
    .primary-porsche-li:hover .porsche-sub-menu {
        display: block;
        position: absolute;
        background-color: inherit;
        border-radius: 5px;
        padding: 30px 0;
        @include sub-menu-ul-animation();

        ul {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $blueColorForItems;
            background-color: black;
            border-radius: 5px;
            li {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid $blueColorForItems;
                &:last-of-type {
                    border-bottom: none;
                }
                @include sub-menu-ul-animation();
            }
        }
        .porsche-sub-menu-items:hover {
            @include sub-menu-list-items-animation();
        }
    }
    /*VW sub menu*/
    .vw-sub-menu {
        display: none;
    }
    .primary-vw-li:hover .vw-sub-menu {
        display: block;
        position: absolute;
        background-color: inherit;
        border-radius: 5px;
        padding: 30px 0;
        @include sub-menu-ul-animation();

        ul {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $blueColorForItems;
            background-color: black;
            border-radius: 5px;
            li {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid $blueColorForItems;
                &:last-of-type {
                    border-bottom: none;
                }
                @include sub-menu-ul-animation();
            }
        }
        .vw-sub-menu-items:hover {
            @include sub-menu-list-items-animation();
        }
    }
    /*Rover sub-menu*/
    .rover-sub-menu {
        display: none;
    }
    .primary-rover-li:hover .rover-sub-menu {
        display: block;
        position: absolute;
        background-color: inherit;
        border-radius: 5px;
        padding: 30px 0;
        @include sub-menu-ul-animation();

        ul {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $blueColorForItems;
            background-color: black;
            border-radius: 5px;
            li {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid $blueColorForItems;
                &:last-of-type {
                    border-bottom: none;
                }
                @include sub-menu-ul-animation();
            }
        }
        .rover-sub-menu-items:hover {
            @include sub-menu-list-items-animation();
        }
    }

    /*Tesla sub-menu*/
    .tesla-sub-menu {
        display: none;
    }
    .primary-tesla-li:hover .tesla-sub-menu {
        display: block;
        position: absolute;
        background-color: inherit;
        border-radius: 5px;
        padding: 30px 0;
        @include sub-menu-ul-animation();

        ul {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $blueColorForItems;
            background-color: black;
            border-radius: 5px;
            li {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid $blueColorForItems;
                &:last-of-type {
                    border-bottom: none;
                }
                @include sub-menu-ul-animation();
            }
        }
        .tesla-sub-menu-items:hover {
            @include sub-menu-list-items-animation();
        }
    }
}
// Main

// Section google-map
.google-map {
    p {
        iframe {
            width: 100%;
        }
    }
}
// Section contact-wrapper
.contact-wrapper {
    background-color: #262626;
    color: white;
    h2 {
        font-size: 40px;
        text-align: center;
        padding: 40px 0 15px 0;
    }
    .contact-wrapper__p {
        font-size: 25px;
        text-align: center;
        padding-bottom: 40px;
    }
    .contact-wrapper-content {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 40px;
        .contact-wrapper-phones {
            display: flex;
            align-items: center;
            i {
                font-size: $fontAwesomeIconsFontsize;
                color: $blueColorForItems;
                padding-right: 15px;
            }
        }
        .contact-wrapper-location {
            display: flex;
            align-items: center;
            i {
                font-size: $fontAwesomeIconsFontsize;
                color: $blueColorForItems;
                padding-right: 15px;
            }
        }
        .contact-wrapper-email {
            display: flex;
            align-items: center;
            i {
                font-size: $fontAwesomeIconsFontsize;
                color: $blueColorForItems;
                padding-right: 15px;
            }
        }
    }
}
// Section link-content

.links-content {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid gray;
    padding: 30px 0;
    font-size: $fontAwesomeIconsFontsize;
    color: #868686;
    i {
        transition: color 0.3s ease-out;
    }
    i:hover {
        color: $blueColorForItems;
    }
}
// Footer
footer {
    padding: 30px;
    background-color: $sectionsColor;
    color: white;
    border-top: 1px solid gray;
    text-align: center;
    span {
        color: $blueColorForItems;
    }
}
